
# Mac stuff
.DS_Store

# Gradle java
.gradle
.idea

# gedit
.*~

# Xcode
*.xcuserdatad
*.xcsettings
*.xcuserstate
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.pbxproj
xcuserdata

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

