[submodule "llama_cpp/benchmark/google_benchmark"]
	path = llama_cpp/benchmark/google_benchmark
	url = https://github.com/google/benchmark.git
	ignore = dirty
[submodule "lint/styleguide"]
	path = lint/google_lint
	url = https://github.com/google/styleguide.git
[submodule "llama_cpp/test/googletest"]
	path = llama_cpp/test/google_test
	url = https://github.com/google/googletest.git
