<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>alpaca_sort_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>kmeans.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>llama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mersenne_twister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>rsa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>sort_benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>sort_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>spam_classification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D748A76EC794BD882F57FD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C0467C3E93B46CC852868AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EC6418BDA534063BDB53457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D712FEA26E042A697BF7D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81E5CC5B921646EA952D0603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>915B6C4966C344069117AD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B056BD5FFFB42C0921B83AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A221924055604332BC12B6D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA01A9E160C7430395B22591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E23F19180C144F6DB5A1604F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7762FB4BF5F4D9A9346D350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0FBAEEDCE5147339C4BB078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
